<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- My student ID -->
    <ion-title>
      G00472897
    </ion-title>

    <ion-buttons slot="end">
      <!-- Favorites -->
      <ion-button routerLink="/favorites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <!-- Settings -->
      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Search tool -->
<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Enter ingredients" [(ngModel)]="query"></ion-searchbar>

  <ion-button expand="block" (click)="searchRecipes()">SEARCH</ion-button>

  <ion-card *ngFor="let r of recipes">
    <img [src]="r.image" [alt]="r.tittle"/>
    
      
        <ion-card-header>
          <ion-card-title>{{r.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button size="small" (click)="goToCard(r.id)">DETAILS</ion-button>
        </ion-card-content>
        
  </ion-card>

</ion-content>
