<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Favorites cards -->
  <ion-card *ngFor="let r of favorites">
    <img [src]="r.image" [alt]="r.tittle"/>
    
      
        <ion-card-header>
          <ion-card-title>{{r.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button size="small" (click)="goToCard(r.id)">DETAILS</ion-button>
        </ion-card-content>
  </ion-card>
  
  <!-- Back button -->
   <ion-button expand="block" [routerLink]="['/home']">Back</ion-button>

</ion-content>
