<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

<ion-list>
 <ion-list-header><ion-label>MEASSURE UNIT</ion-label></ion-list-header>
 
  <ion-radio-group [(ngModel)]="unit" (ionChange)="saveUnit()">

    <ion-item>
      <ion-label>Metric</ion-label>
      <ion-radio slot="start" value="metric"></ion-radio>
    </ion-item>

     <ion-item>
      <ion-label>Imperial</ion-label>
      <ion-radio slot="start" value="imperial"></ion-radio>
    </ion-item>
      
      
</ion-radio-group>
</ion-list>

<ion-button [routerLink]="['/home']">Go to HOME</ion-button>

</ion-content>
