<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ recipe?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

<!-- Main Image -->
  <img
    *ngIf="recipe?.image"
    [src]="recipe.image"
    [alt]="recipe.title"
    style="width: 100%; height: auto; border-radius: 8px;"
  />

<!-- Ingredients -->
  <ion-list>
    <ion-list-header>
      <ion-label>Ingredients</ion-label>
    </ion-list-header>
  </ion-list>

  <ion-card *ngFor="let ing of ingredients">
    <ion-card-header>
      <ion-card-title>{{ ing.original }}</ion-card-title>
    </ion-card-header>

    <!-- Metrics -->
    <ion-card-content>
  <ng-container *ngIf="unit === 'metric'">
    {{ ing.measures.metric.amount }} {{ ing.measures.metric.unitLong }}
  </ng-container>

  <ng-container *ngIf="unit === 'imperial'">
    {{ ing.measures.us.amount }} {{ ing.measures.us.unitLong }}
  </ng-container>
</ion-card-content>
  </ion-card>

<!-- Instructions -->
  <ion-list>
    <ion-list-header>
      <ion-label>Instructions</ion-label>
    </ion-list-header>

     <ion-item *ngIf="steps.length === 0 && recipe?.instructions">
      <ion-label [innerHTML]="recipe.instructions"></ion-label>
    </ion-item>

    <!-- If nothing found -->
    <ion-item *ngIf="steps.length === 0 && !recipe?.instructions">
      <ion-label>No instructions found.</ion-label>
    </ion-item>
  </ion-list>

  <!-- Favorite button -->
   <ion-button expand="block" (click)="toggleFavorite()">
    <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'" style="margin-right: 8px;"> </ion-icon>
    {{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites'}}
   </ion-button>
   
  <!-- Back button -->
   <ion-button expand="block" [routerLink]="['/home']">Back</ion-button>


</ion-content>
